.alarm-grid-container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-rows: 6em 6em 10em 10em;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0.2em
}

.alarm-grid-item-01 {
    grid-column : 2/3;
    grid-row : 2/5;
}

.markbg{
    background-color: #e6e6e6;
    border-radius: 8px;
}


.titleAdjust{
    text-align: center;
    font-size: 1.3em;
    font-family: 'Playfair Display', bold;
}

.alarmDetails{
    font-size: 1em;
    font-family: 'Playfair Display', serif;
}