body{
    background-color: #1f4e78;
}
.background{
    border-style: dotted dashed solid double;;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
  }
  
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.grid-container-login {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1px;
    grid-template-rows: 5em 30em 5em;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

.grid-container-adminPage {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1px;
    grid-template-rows: 4.8em 40em;
    grid-template-columns: 1fr 2fr 2fr 1fr;
}

.grid-container-compactor {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1px;
    grid-template-rows: 4.8em 34.3em 34.3em;
    grid-template-columns: 20em 1fr 1fr auto;
}

.grid-container-map {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1px;
    grid-template-rows: 4.8em 16em 30em 13em;
    grid-template-columns: 20em 1fr 1fr 1fr auto;
}

.grid-container-report {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1px;
    grid-template-rows: 4.8em 23em 50em;
    grid-template-columns: 20em 1fr 1fr auto;
}


.grid-container-equipment {
    display: grid;
    grid-auto-rows: auto;
    grid-gap: 1px;
    grid-template-rows: 4.8em 50em 13em;
    grid-template-columns: 20em 1fr 1fr auto;
}

.grid-container-adminPage-dashBoard{
    grid-column : 1/2;
    grid-row : 2/-1;
}

.grid-container-adminPage-registerPage{
    grid-column : 2/-1;
    grid-row : 2/-1;
}

.grid-container-login-login{
    grid-column : 2/4;
    grid-row : 2/-1;
}

.grid-item-equipment-dashboard{
    grid-column : 1/2;
    grid-row : 2/-1;
}

.grid-item-equipment-map{
    grid-column : 2/-1;
    grid-row : 2/-1;
}

.grid-item-report-sideDashboard{
    grid-column : 1/2;
    grid-row : 2/-1;
}

.grid-item-report-calender{
    grid-column : 2/4;
    grid-row : 2/3;
}

.grid-item-report-table{
    grid-column : 2/4;
    grid-row : 3/4;
}

.grid-item-map-sideDashboard{
    grid-column : 1/2;
    grid-row : 2/-1;
}


.grid-item-map-map{
    grid-column : 2/-1;
    grid-row : 2/4;
}

.grid-item-map-information{
    grid-column : 4/5;
    grid-row : 2/3;
}

.grid-item-map-legend{
    grid-column : 2/-1;
    grid-row : 4/-1;
}

.grid-item-01-compactor {
    grid-column : 1/-1;
    grid-row : 1/2;
}

.markBGCompactor{
    background-color: #faf8f4;
}

.grid-item-sideDashboard{
    grid-column : 1/2;
    grid-row : 2/-1;
}

.grid-item-alarmDashboard {
    grid-column : 2/3;
    grid-row : 2/3;
}

.alarmTitle{
    margin-top: 0.5em;
    font-size: 5em;
    color: #ff0100;
    text-align: center;
}

.alarmRaisedNumber{
    font-size: 13em;
    text-align: center;
}

.grid-item-weightDashboard {
    grid-column : 2/3;
    grid-row : 3/4;
}

.grid-item-mapDashboard {
    grid-column : 3/-1;
    grid-row : 2/4;
}

.whiteBG{
    background-color: white;
}

.grayBG{
    background-color: #e8e8e8;
}

.blueBG{
    background-color: #1f4e78;
}

.blueBorder{
    border: solid #1f4e78 1px;
}

.adjustPadding{
    color: white;
    font-size: 1.3em;
    padding: 10px;
}


.adjustPaddingContent{
    text-align: center;
    font-size: 1.3em;
    padding: 10px;
}

.DashboardTitle{
    text-align: center;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
.right {
transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.adjustment{
    margin-left: 3em;
}

.centerTitle{
    margin-left: 5em;
    margin-right: 10em;
}

.titleStyle{
    font-size: 2em;
}

.input_field{
    width: 15em;
    padding: 0.4em 1px;
    color: black;
    border-radius: 8px;
}

.submitButton{
    margin-left: 7em;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 8px;
}

.submitButton:hover{
    background-color: green;
}

.labelField{
    font-size: 1.1em;
}

.field{
    font-size: 1.1em;
    margin-left: 3em;
}
.welcome{
    font-family: 'Libre Baskerville', serif;
}

.tableTop td, .tableTop th{
    border: 1px solid rgb(27, 27, 27);
    /* padding: 50px; */
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 50px;
    margin-left: 7em;
    vertical-align:top;
}

.align{
    vertical-align:top;
}

.darkbg{
    background-color: #454d55;
}

.lighttext{
    color: #ebecee;
}

.compactorTableTitle{
    font-size: 1.1em;
    color: #ebecee;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
}